* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

body {
    height: 900px;
    background-color: black !important;
}

/* header-section-start */
input.form-control.me-2.search-input {
    padding: 20px 5% 19px 52px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: white !important;
    border: 1px solid #414141;
}

.top-header {
    padding: 30px 0px 21px 20px;
    background-color: black;
}

.site-logo img {
    width: 159px;
    margin-left: 6px;
    height: 54px;
    margin-top: 9px;
}

i.fa-solid.fa-magnifying-glass.d-flex.align-items-center {
    color: #fa4f09;
    position: relative;
    left: 38px;
    font-size: 18px;
}

.search-input-area {
    width: 427px;
    margin-left: 25px;
}

.account-btn {
    padding: 15px 19px 15px 18px !important;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #fa4f09 !important;
}

.account.d-flex.align-items-center {
    width: 156px;
    height: 49px;
}

i.fa-regular.fa-user,
.fa-cart-shopping {
    font-size: 15px;
}

button.btn-outline-light {
    border-radius: 100px;
    border: 1px solid #414141;
    background-color: transparent;
}

span.text-dark,
.nav-link,
.amount-choice,
select.form-select {
    font-size: 14px !important;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600 !important;
}

.cart-icon {
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    background-color: #fa4f09;
}

.user__icon .cart-icon {
    padding: 15px 19px 15px 18px !important;
}

.fa-cart-shopping {
    color: #fa4f09;
}

/* header-section-start-End */
/* Middle-header-section */
.header-section {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: rgb(25, 25, 25);
}

nav.navbar.navbar-expand-lg.navbar-dark {
    padding: 21px 20px 22px 20px;
}

i.fa-solid.fa-bars.text-light {
    font-size: 20px;
}

.header-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#navbarNav {
    padding-left: 76.4px;
}

.nav-about-item {
    margin-right: 17px !important;
}

.header-section.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    animation: slideDown 1s ease-out;
    background-color: rgb(25, 25, 25);
}

.content p {
    font-size: 16px;
    color: #d2d2d2;
}

a.dropdown-item {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}

.dropdown-item:hover {
    padding-left: 10px;
    color: #fa4f09 !important;
}

i.fa-solid.fa-chevron-down {
    font-size: 10px;
    position: relative;
    bottom: 1px;
    margin-right: -1px;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

/* carousel-section */

.Carousel-section {
    padding-top: 100px;
}

.carousel-indicators {
    position: relative;
    margin-top: 15px;
    top: 470px;
    margin-left: 1% !important;
}

.carousel-indicators [data-bs-target] {
    background-color: #fa4f09 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.carousel-item .card {
    background-color: transparent;
    border: 1px solid #414141;
}

.product__content,
.primary-color {
    font-size: 20px;
    font-weight: 600;
    color: #fa4f09;
}

.product__content del {
    color: #727272 !important;
    margin-right: 15px;
}

.product-rating {
    color: #ed8a19;
    font-size: 14px;
}

.product-heading {
    font-size: 18px;
    font-weight: 500;
    font-family: "Prosto One", serif;
}

.carousel-left-section {
    background-image: url(./images/banner-image1.png);
    background-repeat: no-repeat;
}

.banner-content h5 {
    font-family: "Prosto One", serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.banner-content,
.primary-text-color h1 {
    font-family: "Prosto One", serif;
    font-size: 40px !important;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.primary-text-color {
    color: #fa4f09;
}

.Shop-btn {
    background-color: #fa4f09 !important;
}

/* carousel-section-end */
/* categories-section-start */
.categories-section{
    padding-top: 70px;
}
/* categories-section-end */